{% extends './base.html' %}
{% load static %}
{% block content %}

<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        </div>
        <div id="checkout" class="col-lg-9">
          <div class="box">
            <form method="get" action="checkout4.html">
              <h1>Revisa - Revisión del padido</h1>
              <div class="nav flex-column flex-sm-row nav-pills">
                <a href="{% url 'datos' %}" class="nav-link flex-sm-fill text-sm-center disabled"> 
                  <i class="fa fa-map-marker"></i>Dirección
                </a>
                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> 
                  <i class="fa fa-money"></i>Método de pago
                </a>
                <a href="#" class="nav-link flex-sm-fill text-sm-center active">
                  <i class="fa fa-eye"></i>Revisión del padido
                </a>
              </div>
              <div class="content">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th colspan="2">Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Descuento</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in cart %}
                        <tr>
                          <td><a href="#"><img src="{{i.img}}"></a></td>
                          <td><a href="#">{{i.articulo}}</a></td>
                          <td>
                            <input type="number" id="cantidad{{i.codigo}}" value="{{i.cantidad}}" class="form-control">
                          </td>
                          <td>${{i.precio}}</td>
                          <td>$0.00</td>
                          <td>${{i.total}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="5">Total</th>
                        <th>${{total}}</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.table-responsive-->
              </div>
              <!-- /.content-->
              <div class="box-footer d-flex justify-content-between"><a href="checkout3.html" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Volver al método de pago</a>
                <button type="submit" class="btn btn-primary">Hacer el pedido<i class="fa fa-chevron-right"></i></button>
              </div>
            </form>
          </div>
          <!-- /.box-->
        </div>
        <!-- /.col-lg-9-->
        <div class="col-lg-3">
          <div id="order-summary" class="card">
            <div class="card-header">
              <h3 class="mt-4 mb-4">Resumen de pedido</h3>
            </div>
            <div class="card-body">
              <p class="text-muted">Los costos de envío y adicionales se calculan en función de los valores que ingresó.</p>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Subtotal de Orden</td>
                      <th>${{total}}</th>
                    </tr>
                    <tr>
                      <td>Envío y manipulación</td>
                      <th>$10.00</th>
                    </tr>
                    <tr>
                      <td>Impuesto</td>
                      <th>$0.00</th>
                    </tr>
                    <tr class="total">
                      <td>Total</td>
                      <th>${{totalConEnvio}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-lg-3-->
      </div>
    </div>
  </div>
</div>

{% endblock %}