{% load static %}
<div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Páginas</h4>
            <ul class="list-unstyled">
              <li><a href="text.html">Sobre nosotros</a></li>
              <li><a href="text.html">Términos y condiciones</a></li>
              <li><a href="faq.html">Preguntas más frecuentes</a></li>
              <li><a href="contact.html">Contáctenos</a></li>
            </ul>
            <hr>
            <h4 class="mb-3">Sección de usuario</h4>
            <ul class="list-unstyled">
              <li><a href="#" data-toggle="modal" data-target="#login-modal">Iniciar sesión</a></li>
              <li><a href="register.html">Registro</a></li>
            </ul>
          </div>
          <!-- /.col-lg-3-->
          <!--div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Categorías principales</h4>
            <h5>Chicos</h5>
            <ul class="list-unstyled">
              <li><a href="category.html">Camisetas</a></li>
            </ul>
            <h5>Chicas</h5>
            <ul class="list-unstyled">
              <li><a href="category.html">Camisetas</a></li>
            </ul>
          </div-->
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Dónde encontrarnos</h4>
            <p><strong>Medellín</strong>
              <br>Colombia
              <br>Buenos Aires
              <br>
            </p>
            <a href="contact.html">Ir a la páguina de contacto</a>
            <hr class="d-block d-md-none">
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6 ml-auto">
            <h4 class="mb-3">Recibe las noticias</h4>
            <p class="text-muted">Nutrición residentes fútbol triste viejo y feo netus et malesuada hambre y pobreza.</p>
            <form>
              <div class="input-group">
                <input type="text" class="form-control"><span class="input-group-append">
                  <button type="button" class="btn" style="background: #dba2b5;color: white;">Subscribir!</button></span>
              </div>
              <!-- /input-group-->
            </form>
            <hr>
            <h4 class="mb-3">Mantente en contacto</h4>
            <p class="social"><a href="https://www.facebook.com/milena.clavijo.79" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
          </div>
          <!-- /.col-lg-3-->
        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-->
    </div>